<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navbar">
                <a href="/" class="navbar-brand">Password Manager</a>
                <ul class="navbar-nav">
                  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
                  <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
                  <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
                </ul>
              </nav>
        </div>
    </header>
    <main>
        <div class="results-container">
            <h1>Search Results</h1>
            <p>Query: <%= query %></p>
            <p>Result: <%= result %></p>
            <a href="/search">Back to Search</a>
        </div>
    </main>
    <footer>
         <p>&copy; 2024 Het Joshi Inc.</p>
    </footer>
</body>
</html>
